
= link_to "Create new Host", new_user_host_path(@user), :class => "host_button round"
.host_container
	- if @user.hosts.any?
		%ul.host
			- @user.hosts.each do |host|
				%li
					%a.virtual_server_container#virtual_server{:host => "#{host.id}", :href => "#{user_host_path(@user,host)}"}
						%h3
							= host.name 
						.click_host_info{:id => "host_#{host.id}"}
							%h3
								Click to view




