= link_to "Create new Host", new_user_host_path(@user), :class => "host_button round"
.host_container
	- if @user.hosts.any?
		%ul.host
			- @user.hosts.each do |host|
				%li
					%a.virtual_server_container#virtual_server{:host => "#{host.id}", :href => "#{user_host_path(@user,host)}"}
						%h3
							= host.name 
							%p
								Ram usage: #{ number_to_percentage((host.total_ram.to_f / host.ram.to_f * 100), :precision => 2, :strip_insignificant_zeros => true) }
							%br
							%p
								Disk usage: #{number_to_percentage((host.total_disk_size.to_f / host.disk_size.to_f * 100), :precision => 2, :strip_insignificant_zeros => true)}

						.click_host_info{:id => "host_#{host.id}"}
							%h3
								Click to view


